/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar */
#nav-bar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

/* Page Wrap */
.page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7f9cb5;
}

.left-panel,
.right-panel {
  flex: 1;
}

.left-panel {
  padding: 50px;
  /* background-color: #fff; */
}

.right-panel {
  padding: 50px;
  /* background-color: #f9f9f9; */
}

.illustration img {
  max-width: 100%;
}

.animated-form {
  max-width: 400px;
  margin: 0 auto;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.No-account,
.change-pwd {
  text-align: center;
  margin-top: 10px;
}

.link {
  color: #333;
  text-decoration: none;
}
/*footer*/
.footer{
  background: #000;
  padding: 30px 0 0px 0;
  color: #eee;
  font-size: 14px;
}
 .footer-info h3{
font-family:Brush Script MT;
letter-spacing: 3px;
font-size: 30px;
font-weight: 1000;
border-left: 4px coral;
}
.footer-social a{
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer-social a:hover{
  color: #ffe600
}
.email{
  border: 0;
  padding: 6px;
  width: 65%;
}
.submit{
  background: #ffe600;
  border: 2px #ffe600;
  width: 30%;
  padding: 6px;
  text-align: center;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.submit:hover{
  background: black;
  color: #ffe600;
}
.footer-links i{
  padding-right: 10px;
}
.footer-links li{
  list-style: none;
}
.footer-links a{
  color: #fff;
  border: none;
  padding-bottom: 15px;
}
.footer-links a:hover{
  color: #ffe600;
  text-decoration: none;
}
.footer .box{
  background: #141414;
  text-align:center;
  padding: 15px;
}
.footer .box i{
  color: #ffe600;
}


/* Media Queries */
@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
  
  .navbar-toggler {
    margin-top: 10px;
  }
  
  .page-wrap {
    flex-direction: column;
  }
  
  .left-panel,
  .right-panel {
    padding: 20px;
  }
  
  .animated-form {
    max-width: 100%;
  }
}